{% extends 'base.html' %}
{% load static %}
{% load test_app_tags %}

{% block content %}

<div class="container">
    <h1>Pizza List Unoptimized</h1>
    <table class="table">
        <thead>
            <th>Pizza</th>
            <th>Toppings</th>
            <th></th>
        </thead>
        <tbody>
            {% for pizza in pizzas %}
            <tr>
                <td>{{ pizza.name }}</td>
                <td>
                {% for topping in pizza.toppings.all %}
                    {% if forloop.last %}
                        {{ topping.name }}
                    {% else %}
                        {{ topping.name }},
                    {% endif %}
                {% endfor %}
                </td>
                <td>
                {% if pizza.toppings.all|is_vegetarian %}
                    🌱
                {% else %}
                    🥩
                {% endif %}
                </td>
            <tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}